.principal{
    background-color: #1A2040 !important;
    color: white !important;
}
.btn-ingresar{
    background-color:#fff6da;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
}
.btn-ingresar:hover{
    background-color:#F2E1AC;
    color: #3E1A40;
    border-color: #F2E1AC;
}
.img-principal{
    background-color: #3E1A40;
    width: 643px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 25px;
}
.card-secundario{
    background-color: #3E1A40;
    color: white;
}

.opcion-registro{
    background-color: #F2E1AC;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
    margin-right: 10px;
}

.opcion-registro:active{
    background-color:  #F2E1AC !important;
    color: #3E1A40 !important;
}
.opcion-registro:visited{
    background-color: #fff6da !important;
    color: #3E1A40 !important;
}

.icono{
    font-size: 60px;
    padding-left: 133px;
    padding-top: 10px;
}

.abajo{
    background-color: #1A2040 !important;
    color: azure;
}

