.principal{
    background-color: #1A2040 !important;
    color: white !important;
}
.btn-ingresar{
    background-color:#fff6da;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
    width: 270px
}
.btn-ingresar:hover{
    background-color:#F2E1AC;
    color: #3E1A40;
    border-color: #F2E1AC;
}

.btn-comprar{
    background-color:#fff6da;
    color: #3E1A40;
    border-color: #1A2040; 
    font-weight: bold;
}

.btn-general{
    background-color: #3E1A40;
    color: white; 
    border-color: #1A2040; 
}
.border-items{
    border: 2px solid  #3E1A40;
}
.txt-head{
    color: #1A2040 ;
    font-weight: bold;
}

.card-encabezado{
    background-color: #3E1A40;
    color: white;
}