.pantalla{
    width: 40rem;
    height: 40rem;
}

.colores{
    margin-left: auto;
    margin-right: auto;
}



.menu-opciones{
    margin-top: 19px;
    background-color:#fff6da;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
    font-size: 19px;
}


.herramientas{
    background-color: #1A2040 !important;
}

.zona-opciones{
    background-color: #fff6da !important;
    height: 360px;
    margin-top: 19px;
    width: 360px;
    margin-left: -62px;
    
}


.opciones{
    color: #3E1A40;
}

.nav-herramientas{
    padding: 19px;
}

.seleccionado{
    width: 295px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding: 10px;
}
.principal{
    background-color: #1A2040 !important;
    color: white !important;
}
.btn-ingresar{
    background-color:#fff6da;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
    width: 190px;
    margin-right: 35px;
}
.btn-ingresar:hover{
    background-color:#F2E1AC;
    color: #3E1A40;
    border-color: #F2E1AC;
}
.opcion-registro{
    background-color: #F2E1AC;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
    margin-right: 10px;
}

.opcion-registro:active{
    background-color:  #F2E1AC !important;
    color: #3E1A40 !important;
}
.opcion-registro:visited{
    background-color: #fff6da !important;
    color: #3E1A40 !important;
}

.txt-prom{
    color:  #1A2040;
    font-weight: bolder;
}

.btn-herramientas{
    background-color: #F7F7F7;
    border-color: #F7F7F7;
}

.btn-general{
    background-color: #3E1A40;
    color: white; 
    border-color: #1A2040; 
}

.card-img-top:hover{
    cursor: pointer;
    width: 270px;
}

.col{
    height: 50px;
}
.col:hover{
    cursor: pointer;
    border: 2px solid black;
    width: 200px;
   
}

.card-bloques{
    border: 1px solid black;
}

.card-bloques:hover{
    cursor: pointer;
    width: 300px;
}

.estilo{
    height: 300px;
}