
<body style="background-color: #9386A6; font-family: 'Montserrat', sans-serif;">
    <nav class="navbar navbar-expand-lg bg-light principal">
        <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png"></a>
        <button class="navbar-toggler" style="background-color:  #fff6da;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: azure;">Sobre Nosotros<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]= "['sitio']" style="color: azure;">Revisa tu página</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <a class="btn my-2 my-sm-0 btn-ingresar" [routerLink]= "['']"style="color:  #3E1A40;">Salir</a>
          </div>
        </div>
      </nav>
      <br>
       <div class="container-fluid">
         <div class="row">
            <div class="col-6"> 
              <!--nav de herramientas-->  
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="btn-herramientas" type="button" (click)="verInicio()"><i class="fas fa-tools"></i>Herramientas</button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <!--<li class="nav-item">
                      <button class="btn-herramientas" type="button" (click)="verPlantillas()"><i class="fas fa-images"></i>Plantillas</button>
                    </li>-->
                    <li class="nav-item">
                      <button class="btn-herramientas" type="button" (click)="verTexto()"><i class="fas fa-file-word"></i>Estilos Títulos</button>
                    </li>
                    <li class="nav-item">
                      <button class="btn-herramientas"  type="button" (click)="verImagenes()"><i class="fas fa-camera"></i>Imágenes</button>
                    </li>
                    <li class="nav-item">
                      <button class="btn-herramientas" type="button" (click)="verColores()"><i class="fas fa-paint-roller"></i>Colores de fondo</button>
                    </li>
                    <li class="nav-item">
                      <button class="btn-herramientas" type="button" (click)="guardarPagina()"><i class="fas fa-save"></i>Guardar</button>
                    </li>
                  </ul>
                </div>
              </nav>
              <div class="card bg-dark text-white" *ngIf= "this.regionVisible == 'herramientas'">
                <img src="../assets/img/card4.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h1 class="card-title txt-prom display-4">¡Bienvenido a la página de diseño!</h1>
                </div>
              </div>
             
              <!--TEXTO-->
              <div *ngIf= "this.regionVisible == 'texto'" style="background-color: beige;">
                <form [formGroup]="editor" class="estilo"  >
                  <quill-editor  formControlName ="texto" ></quill-editor>
                  <button class="btn my-2 my-sm-0 btn-general" style="margin-right: 5px; margin-bottom: 5px;" (click)="textoHeader()">Agregar encabezado</button>
                  <button class="btn my-2 my-sm-0 btn-general" style="margin-right: 5px; margin-bottom: 5px;" (click)="textoBloque1()">Agregar bloque1</button>
                  <button class="btn my-2 my-sm-0 btn-general" style="margin-right: 5px; margin-bottom: 5px;" (click)="textoBloque2()">Agregar bloque2</button>
                  <button class="btn my-2 my-sm-0 btn-general" style="margin-right: 5px; margin-bottom: 5px;" (click)="textoBloque3()">Agregar bloque3</button>
                  <button class="btn my-2 my-sm-0 btn-general" style="margin-right: 5px; margin-bottom: 5px;" (click)="textoBloque4()">Agregar bloque4</button>
                  <button class="btn my-2 my-sm-0 btn-general" style="margin-right: 5px; margin-bottom: 5px;" (click)="textoBloque5()">Agregar bloque5</button>
                </form>
              </div>
              <!--IMAGENES-->
              <div *ngIf= "this.regionVisible == 'imagenes'"> 
                <div class="container" style="background-color: beige;">
                  <div class="row card-group">
                    <div class="col-4" *ngFor="let imagen of imagenes">
                      <div class="card" (click)="seleccionarImagen(imagen.url)">
                        <img src="../assets/texturas/{{imagen.url}}" class="card-img-top" alt="...">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--COLORES-->
              <div *ngIf= "this.regionVisible == 'colores'">
                <div class="container-fluid" style="background-color: rgb(156, 155, 155);">
                  <div class="row">
                    <div class="col-2" *ngFor="let color of colores">
                      <div class="col" [ngStyle]="{'background-color': color.color}" (click)="seleccionarColor(color.color)"></div>
                    </div>
                  </div>
                </div>
              </div>
           </div>


<!--ZONA DONDE SE VISUALIZA EL SITIO-->           
           <div class="col-6" >
            <div class="card pantalla" id="screen" style= "background-image: url('../assets/texturas/{{urlImagen}}')" [ngStyle]= "{'background-color': colorSeleccionado}" >
              <div class="card text-center" (click)="agregarColorHeader(colorSeleccionado)" [ngStyle]= "{'background-color': colorHeader}">
                <div class="card-body card-bloques">
                  <h5 class="card-title">Agregue su título</h5>
                  <p class="card-text" [innerHTML]= "editorContent"></p>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card" (click)="agregarColorBloque(colorSeleccionado)" [ngStyle]= "{'background-color': colorBloques}">
                      <div class="card-body card-bloques">
                        <h5 class="card-title">Bloque 1</h5>
                        <p class="card-text" [innerHTML]= "bloque1"></p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card" (click)="agregarColorBloque(colorSeleccionado)" [ngStyle]= "{'background-color': colorBloques}">
                      <div class="card-body card-bloques">
                        <h5 class="card-title">Bloque 2</h5>
                        <p class="card-text"  [innerHTML]= "bloque2"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card" (click)="agregarColorBloque(colorSeleccionado)" [ngStyle]= "{'background-color': colorBloques}">
                      <div class="card-body card-bloques">
                        <h5 class="card-title">Bloque 3</h5>
                        <p class="card-text" [innerHTML]= "bloque3"></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                  <div class="col-sm-6">
                    <div class="card" (click)="agregarColorBloque(colorSeleccionado)" [ngStyle]= "{'background-color': colorBloques}">
                      <div class="card-body card-bloques">
                        <h5 class="card-title">Bloque 4</h5>
                        <p class="card-text" [innerHTML]= "bloque4"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card card-bloques" (click)="agregarColorBloque(colorSeleccionado)" [ngStyle]= "{'background-color': colorBloques}">
                      <div class="card-body">
                        <h5 class="card-title">Bloque 5</h5>
                        <p class="card-text" [innerHTML]= "bloque5"></p>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
           </div>
         </div>
       </div>
</body>       
