.pantalla{
    width: 40rem;
    height: 26rem;
}

.colores{
    margin-left: auto;
    margin-right: auto;
}

.list-group-item:hover{
    cursor: pointer;
    border-color: bisque;
    border-width: 0.5rem;
}

.menu-opciones{
    margin-top: 19px;
    background-color:#fff6da;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
    font-size: 19px;
}

.list-colores{
    padding: 35px;
}
.herramientas{
    background-color: #1A2040 !important;
}

.zona-opciones{
    background-color: #fff6da !important;
    height: 360px;
    margin-top: 19px;
    width: 360px;
    margin-left: -62px;
    
}


.opciones{
    color: #3E1A40;
}

.nav-herramientas{
    padding: 19px;
}

.seleccionado{
    width: 295px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding: 10px;
}
.principal{
    background-color: #1A2040 !important;
    color: white !important;
}
.btn-ingresar{
    background-color:#fff6da;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
}
.btn-ingresar:hover{
    background-color:#F2E1AC;
    color: #3E1A40;
    border-color: #F2E1AC;
}
.opcion-registro{
    background-color: #F2E1AC;
    color: #3E1A40;
    border-color: #F2E1AC;
    font-weight: bold;
    margin-right: 10px;
}

.opcion-registro:active{
    background-color:  #F2E1AC !important;
    color: #3E1A40 !important;
}
.opcion-registro:visited{
    background-color: #fff6da !important;
    color: #3E1A40 !important;
}