
<body style="background-color: #9386A6; font-family: 'Montserrat', sans-serif;">
    <nav class="navbar navbar-expand-lg bg-light principal">
        <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png"></a>
        <button class="navbar-toggler" style="background-color:  #fff6da;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: azure;">Sobre Nosotros<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: azure;">Paquetes</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <button class="btn my-2 my-sm-0 btn-ingresar" style="color:  #3E1A40;">Salir</button>
          </div>
        </div>
      </nav>
      <br>
       <div class="container-fluid">
         <div class="row">
            <div class="col-6"> 
              <!--nav de herramientas-->  
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="btn-herramientas" type="button" (click)="verInicio()"><i class="fas fa-tools"></i>Herramientas</button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <button class="btn-herramientas" type="button" (click)="verPlantillas()"><i class="fas fa-images"></i>Plantillas</button>
                    </li>
                    <li class="nav-item">
                      <button class="btn-herramientas" type="button" (click)="verTexto()"><i class="fas fa-file-word"></i>Estilos Títulos</button>
                    </li>
                    <li class="nav-item">
                      <button class="btn-herramientas"  type="button" (click)="verImagenes()"><i class="fas fa-camera"></i>Imágenes</button>
                    </li>
                    <li class="nav-item">
                      <button class="btn-herramientas" type="button" (click)="verColores()"><i class="fas fa-paint-roller"></i>Colores de fondo</button>
                    </li>
                  </ul>
                </div>
              </nav>
              <div class="card bg-dark text-white" *ngIf= "this.regionVisible == 'herramientas'">
                <img src="../assets/img/card4.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h1 class="card-title txt-prom display-4">¡Bienvenido a la página de diseño!</h1>
                </div>
              </div>
              <!--PLANTILLAS-->
              <div *ngIf= "this.regionVisible == 'plantillas'">

              </div>
              <!--TEXTO-->
              <div *ngIf= "this.regionVisible == 'texto'">

              </div>
              <!--IMAGENES-->
              <div *ngIf= "this.regionVisible == 'imagenes'">
                <app-galeria-imagenes></app-galeria-imagenes>
              </div>
              <!--COLORES-->
              <div *ngIf= "this.regionVisible == 'colores'">
                <app-colores></app-colores>
              </div>
           </div>
           <div class="col-6">
            <div class="card pantalla" id="screen">
              <div class="card-header">
                <input type="text">
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                </blockquote>
              </div>
            </div>
           </div>
         </div>
       </div>
</body>       
