  
              <div class="container">
                <div class="row">
                  <div class="col turquoise"></div>
                  <div class="col green-sea" style="color:#16a085;">color</div>
                  <div class="col emerald"></div>
                  <div class="col nephritis"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col peter-river "></div>
                  <div class="col belize-hole" style="color:#2980b9;">color</div>
                  <div class="col amethyst "></div>
                  <div class="col wisteria"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col wet-asphalt "></div>
                  <div class="col midnight-blue" style="color: #2c3e50;">color</div>
                  <div class="col sunflower"></div>
                  <div class="col orange"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col concrete"></div>
                  <div class="col asbestos" style="color: #7f8c8d;">color</div>
                  <div class="col carrot"></div>
                  <div class="col pumpkin"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col clouds"></div>
                  <div class="col silver" style="color: #bdc3c7;">color</div>
                  <div class="col alizarin "></div>
                  <div class="col pomegranate"></div>
                </div>
            </div>

  
